page-review-report {

div.selected{
  background-color: #227D96;
  color: white;
  border: 1px solid #227D96;
  padding: 10px;
  font-size: 15px;
  border-radius: 64px;
}

h3{
  text-align: center;
}

#goBackButton{
  text-align: right;
  button{
    color: #227D96;
    background-color: white;
    border: 1px solid #227D96;
  }
}

#submitButton{
  button{
    color: white;
    background-color: #227D96;
    border: 1px solid #227D96;
  }
}

}
