page-review-report {

div.selected{
  background-color: #488aff;
  color: white;
  border: 1px solid #488aff;
  padding: 10px;
  font-size: 15px;
  border-radius: 64px;
}

h3{
  text-align: center;
}

}
