page-report {

// .button{
//   position: relative;
// }
// .button button{
//   position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%);
// }

font-family: Roboto, Helvetica, Arial, sans-serif;

#title{
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 20px;
}
#logo{
  margin-top: 8px;
  height: 70px;
  max-height: 50px;
}

h2{
  text-align: center;
}
.item-inner{
  border-bottom: none !important;
}

#closeButton{
  font-size: 2.2em;
}

button.selected{
  background-color: #227D96;
  color: white;
  border: 1px solid #227D96;
  padding: 10px;
  font-size: 15px;
  border-radius: 64px;
}

button.notSelected{
  background-color: white;
  color: #227D96;
  border: 1px solid #227D96;
  padding: 10px;
  font-size: 15px;
  border-radius: 64px;
}

#submitButton{
  background-color: #227D96;
}

$datetime-ios-padding-top: 0px;
$datetime-ios-padding-right: 0px;
$datetime-ios-padding-left: 0px;
$datetime-ios-padding-bottom: 0px;




}
