page-home {


    #mainContent {
        padding: 20px 20px;
    }

    p {
      font-family: Roboto;
      text-align: center;
      font-size: 14px;
      line-height: normal;
    }

    .bold {
        font-weight: bold;
    }

    #needsToStop{
        font-size: 18px;
    }

    .boldRedLarge {
        font-weight: bold;
        color: #FF334C;
        font-size: 20px;
    }

    #takeAStand {
        font-size: 16px;
        font-weight: bold;
        color: #3BB2D2;
    }




    #title{
      text-align: center;
      font-weight: bold;
      font-family: "Roboto";
      font-size: 20px;
    }

    #logo{
      margin-top: 8px;
      height: 70px;
      max-height: 50px;
    }

    div{
      line-height: 9px;
    }

    .toolbar-title-ios{
      line-height: 20px;
      width: 100%;
    }

    h1{
        line-height: normal;
        font-size: 20px;
        margin-top: auto;
        color: 333333;
        font-family: "Roboto";
        text-align: center;
    }

    ion-img{
      display: block;
      margin: auto;
      min-width: 250px;
      min-height: 150px;
      contain: strict;
    }

    ion-img img{
      object-fit: fill;
      height: 150px;
      width: 400px;
    }

    button{
      background-color: #227D96 !important;
    }

}
