<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-flic"
	version="0.6.0">
	<name>Flic</name>
	<description>A Cordova plugin providing access to the Flic SDK</description>
	<license>Apache 2.0</license>
	<keywords>cordova,flic,smart,button,sdk</keywords>
	<repo></repo>
	<issue></issue>
	
	<js-module src="www/Flic.js" name="Flic">
		<clobbers target="Flic" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<!-- Add plugin dependencies -->
		<framework src="src/android/cordovaFlic.gradle" custom="true" type="gradleReference" />
        <resource-file src="libs/fliclib-release.aar" target="libs/fliclib-release.aar" />
		<config-file target="res/xml/config.xml" parent="/*">
			<!-- The feature's name attribute should match what you specify as the JavaScript exec call's service parameter.
				The value attribute should match the name of the plugin's Java class.
			-->
			<feature name="Flic" >
				<param name="android-package" value="com.jguix.cordova.Flic"/>
			</feature>
		</config-file>
		<source-file src="src/android/Flic.java" target-dir="src/com/jguix/cordova" />
	</platform>
	<!-- ios -->
	<platform name="ios">
		<preference name="URL_SCHEME" />
		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>bluetooth-central</string>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
			<array>
				<string>flic20</string>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
			<array>
				<dict>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>$URL_SCHEME</string>
					</array>
				</dict>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="FlicUrlScheme">
		  <string>$URL_SCHEME</string>
		</config-file>
		<config-file target="config.xml" parent="/*">
			<feature name="Flic">
				<param name="ios-package" value="Flic"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<framework src="src/ios/fliclib.framework" custom="true" embed="true" />
			
		<source-file src="src/ios/Flic.m" />
		<header-file src="src/ios/Flic.h" />
		
		<hook type="after_platform_add" src="hook/addEmbedded.js" />
	</platform> 
</plugin>
