page-where-modal {
  ion-input{
    margin: 15px;
    border-bottom: 1px solid black;
    width: 90%;
  }

  ion-label, .label{
    margin-left: 10px;
  }

  .invalid-address{
    h3{
      color: red;
    }
    display: none;

  }
}
